@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #FF5805, #E83107);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9c2308d5;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p{
    text-align:justify;
}

h1{
    color: #FF1208;
    text-align: center;
    text-shadow: 1px 1px 2px #690805b6;
}

h2{
    color: #E87307;
    text-shadow: 1px 1px 2px #834205c2;
}