body{
    background-color: rgb(71, 67, 61);
    color: #fff;
    border: 0px;
    padding: 0px;
}

header{
    background-color: rgb(87, 85, 85);
    text-align: center;
}

nav > a {
    text-decoration: none;
    margin-right: 30px;
    color: lime;
}

nav > a:hover{
    text-decoration: underline;
    color: rgb(1, 1, 77);
}

main{
    background-color: rgb(131, 131, 131);
    padding: 10px;
}

section{
    background-color: rgb(109, 87, 87);
    padding: 10px;
    margin: 5px;
    border-radius: 10px 10px ;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
}

aside{
    text-align: center;
    background-color: rgb(0, 0, 66);
    padding: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
}

footer{
    background-color: black;
    text-align: center;
}


