div{
    background-color: lightgray;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}



div:hover{
    background-color: brown;
}