body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: 400px;
    position: relative;
}

caption{
    background-color: lightgray;
    font-size: 15px;
    font-weight: 200;
    padding: 5px;
}

tbody > tr:nth-child(even){
    background-color: lightgray;
}

.num{
    text-align: right;
    width: 100px
}

td, th{
    border:1px solid black;
    padding: 5px;
}

th{
    background-color: gray;
    color:white;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: gray;
}