body{
    background-color: lightgray;
}

main{
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    min-width: 200px;
    margin: auto;
}

img{
    width: 100%;
}