body{
    background-color: black;
    background-image: url('imgs/wallpaper002.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}

div{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    width: 500px;
    border-radius: 15px;
}