body{
    height: 97vh;
    border: 1px solid black;
    background-image: url('https://gustavoguanabara.github.io/images/mascote-html5.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left top;
}