table{
    border-collapse: collapse;
    width: 400px;
    margin: auto;
    text-align: center;
}

th , td {
    border: 1px solid black;
    padding: 5px;
}

th{
    background-color: gray;
    color: white;
}

.num{
    text-align: center;
}

.branco{
    background-color: white;
    color: black;
}

.cinza{
    background-color: gray;
    color: white;
}

.dir{
    text-align: left;
}

.materia{
    text-align: left;
}